.home-container {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2LKMApEnIfE1am-8MuB0sBV7Mwtc4C7xlo00UVyBtwg6zpV14rf-UaBRpvuL68Unk2wo&usqp=CAU");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    padding: 20px;
  }
  
  .text-primary {
    color: #007bff;
  }
  
  .text-secondary {
    color: #6c757d;
  }
  
  .text-info {
    color: #17a2b8;
  }
  
  .list-unstyled {
    list-style: none;
    padding-left: 0;
  }
  
  .text-success {
    color: #28a745;
  }